PORT=3000
SMTP_HOST=smtp.tudominio.cl
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario-smtp
SMTP_PASS=contrasena-smtp
MAIL_FROM=web@acaraseo.cl
MAIL_TO=contacto@acaraseo.cl
MAIL_CC=rahumada@acaraseo.cl
